.form{
 border-style: double;
}

.button{
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: black;
  background-color: white;
}

.button:hover{
  background-color: black;
  color: white;
}
