.navbar{
  text-align: right;
}

.navbarlink{
  margin: 5px;
  text-decoration: none;
}

ul{
  /* padding: 0; */
  /* display: flex; */
  /* justify-content: space-between;
  list-style-type: none; */
}